<div class="container mt-4">

  <div class="card p-4 shadow">

    <h2 class="mb-3">
      Formulario de Reserva
    </h2>

    <label class="form-label">
      Responsable
    </label>

    <input
      type="text"
      [(ngModel)]="responsable"
      minlength="3"
      class="form-control mb-3"
    >

    <label class="form-label">
      Fecha
    </label>

    <input
      type="date"
      [(ngModel)]="fecha"
      class="form-control mb-3"
    >

    <label class="form-label">
      Hora
    </label>

    <input
      type="time"
      [(ngModel)]="hora"
      class="form-control mb-3"
    >

    <label class="form-label">
      Carrera Solicitante
    </label>

    <select
      [(ngModel)]="carrera"
      class="form-select mb-3"
    >

      <option value="">
        Seleccione una carrera
      </option>

      <option value="Software">
        Software
      </option>

      <option value="Mecatrónica">
        Mecatrónica
      </option>

      <option value="Electrónica">
        Electrónica
      </option>

      <option value="TIC">
        TIC
      </option>

    </select>

    <button
      (click)="guardarReserva()"
      class="btn btn-success me-2"
    >
      Guardar Reserva
    </button>

    <button
      (click)="limpiarFormulario()"
      class="btn btn-secondary"
    >
      Limpiar Formulario
    </button>

  </div>

</div>